.wells-chart-budget {
  .cls-1{fill:url(#New_Gradient_Swatch_1);}
  .cls-1 .cls-2 .cls-3 .cls-4 .cls-5{stroke-width:0px;}
  .cls-3{fill:#dfdfdf}
  .cls-4{fill:#fff} 
  .cls-5{fill:#EBDFF0;stroke-width:0px;}
}