.component-filters {
  margin: 0 auto;
  .active-filter {
    border: 1px solid $grayLight !important;
    color: $grayLight !important;
    background-color: transparent !important;
  }

  .filters__label {
    @include typeFilterPre;
    margin-right: 1em;
  }

  .filters__filters {
    display:flex;
    text-wrap: nowrap;
    list-style:none;
    align-items:center;
    justify-content:center;
    margin:0;
    padding:0;
    gap:em(7);
    // &:before {
    //   @include typeFilterPre;
    //   margin-right:em(10,15);
    //   content:"Filters:";
    // }
  }
  .filters__filter {
    @include typeFilter;
    border: 1px solid $brandAlmostBlack;
    color: $brandAlmostBlack;
    border-radius:em(37,17);
    padding:em(8,17) em(12,17);
    cursor:grab;
    transition:all .33s ease;
    // &:hover,&:active,&.active {
    //   background:$light;
    //   color:$blueDark;
      &.filters__filter-agency {
        background:$brandBlue;
        border-color:$brandBlue;
        color:$light;
      }
      &.filters__filter-sector {
        background:$brandGreen;
        border-color:$brandGreen;
        color:$light;
      }
      &.filters__filter-solution {
        background:$brandLavender;
        border-color:$brandLavender;
        color:$light;
      }
      &.filters__filter-stage {
        background:$brandYellowGreen;
        border-color:$brandYellowGreen;
        color:$brandAlmostBlack;
      }
      &.filters__filter-funding_type {
        background:$brandCyan;
        border-color:$brandCyan;
        color:$brandAlmostBlack;
      }
      &.filters__filter-funding_source {
        background:$brandYellow;
        border-color:$brandYellow;
        color:$brandAlmostBlack;
      }
    // }
    &:active {
      cursor:grabbing;
    }
    &:last-child {
      margin-right:0;
    }
  }
  .download-trigger {
    margin-left:3em;
  }
  @media only screen and (max-width: $breakpoint-lg) {
    .component-filters {
    display: flex;
    flex-direction: row;
    }

    .filters__filters {
      flex-wrap:wrap;
      justify-content: center;
      &:before {
        flex:none;
        width:100%;
        display:block;
        margin-bottom:.5em;
      }
    }
  }
}
@media only screen and (max-width: $breakpoint-md) {
  .filters__filter {
    padding: .5em;
  }
}