.app-footer {
  @extend %component-contrast;
  width:100%;
  padding-top:em(30);
  padding-bottom:em(30);
  flex:none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $light;
  margin: 0em;
  .footer__wrapper {
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    position:static;
    gap:em(14) em(30);
  }
  @media only screen and (max-width:1300px) {
    padding-top:em(24);
    padding-bottom:em(14);
    .footer__wrapper {
      flex-wrap:wrap;
      justify-content:center;
    }
    .component-filters {
      order:0;
      flex:100%;
    }
    .data-year-container {
      order:1;
    }
    .download-trigger {
      order:2;
    }
    .component-stickies {
      order:3;
    }
  }
  @media only screen and (max-width:$breakpoint-lg) {
    .footer__wrapper {
      margin-right:calc(25% + 15px);
    }
  }
  @media only screen and (max-width:$breakpoint-md) {
    .footer__wrapper {
      margin: 0;
    }
  }
  @media only screen and (max-width:620px) {
    .component-stickies {
      display:none;
    }
  }

}