.app-footer {
  @extend %component-contrast;
  height:em(100);
  padding-top:em(30);
  padding-bottom:em(30);
  flex:none;
  display: flex;
  align-items: center;
  justify-content: center !important;
  width:100svw;
  background: $light;
  border-top: 1px solid $brandCyan;
  margin: 0 auto;
  .footer__wrapper {
    padding:0 em(75);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    width:90%;
    // > * {
    //   margin-left:em(60);
    //   &:first-child {
    //     margin-left:-8.25em;
    //   }
    // }
  }
  @media screen and (max-width:$breakpoint-xl) {
    .footer__wrapper {
      > * {
        margin-left:em(75);
        display:block;
      }
    }
  }
  @media screen and (max-width:$breakpoint-lg) {
    .footer__wrapper {
      max-width:75%;
    }
  }
  @media screen and (max-width:$breakpoint-md) {
    height:25svh;
    margin: 0 auto;
    .footer__wrapper {
      flex-direction:column;
      max-width:100%;
      .footer-second-row-md-breakpoint {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      > * {
        &:last-child {
          margin-bottom:0;
        }
      }
    }
  }
  @media screen and (max-width:$breakpoint-sm) {

  }

  @media screen and (max-width: 600px) {
    .footer__wrapper {
      padding:0 30px;
    }
  }

  @media screen and (min-width:300px) and (max-width: 400px) {
      height: 50svh !important;
      padding: 1em;

    .footer__wrapper {
      font-size: 1em;
      margin-top: -5em;
      margin-bottom: 2em;
    }

    .footer-second-row-md-breakpoint {
      padding: .5em;
    }

    .footer-third-row-sm-breakpoint {
      margin: .5em;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

  }
}