.app-header {
  @extend %component-contrast;
  height:auto;
  padding-top:em(32);
  padding-bottom:em(19);
  flex:none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width:100%;
  background: $light;
  border-bottom: 1px solid $brandCyan;
}