.app-header {
  @extend %component-contrast;
  height:em(100);
  flex:none;
  display: flex;
  align-items: center;
  width:100%;
  background: $light;
  border-bottom: 1px solid $brandCyan;
  @media screen and (max-width:$breakpoint-lg) {
    padding-top:em(48);
    height:em(148);
  }
  @media screen and (max-width: $breakpoint-sm) {
    width:120%;
    min-width:740px;
  }
  @media screen and (max-width: 600px) {
    width:150%;
  }
  @media screen and (max-width: 400px) {
    width:200%;
    min-width:740px;
  }
}