.app-header {
  @extend %component-contrast;
  height:em(100);
  flex:none;
  display: flex;
  align-items: center;
  width:100%;
  background: $light;
  border-bottom: 1px solid $brandCyan;
  padding-top: 3.25em;
  padding-bottom: 2.5em;
  @media screen and (max-width:$breakpoint-lg) {
    height:em(148);
  }
  // @media screen and (max-width: $breakpoint-sm) {
  //   width:120%;
  //   min-width:740px;
  // }
  // @media screen and (max-width: 600px) {
  //   width:150%;
  // }
  @media screen and (max-width: 400px) {
    // width:200%;
    // min-width:740px;
  }
}