.component-tray {
  position:absolute;
  font-family: $secondaryFont;
  right:0;
  top:0;
  width:calc((100vw - 1400px) / 2);
  height:100%;
  background:$brandGray;
  font-size:14px;
  z-index:2;
  display:flex;
  flex-direction:column;
  .tray__entry__legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    width: 100%;
    background-color: $brandGray;
    opacity: 1;
    z-index: 3;
    padding: 1em 1.7em;
    border-bottom: 1px solid lightgray;

    .legend-item {
      margin-right: 2em;
      display: flex;
      justify-content: row;
      align-items: center;

      svg {
        display: block;
        margin-right: .5em;
      }
    }
  } 

  .tray__trigger {
    font-size:.825em;
    position: absolute;
    top: 50%;
    right: 100%;
    background: $brandGray;
    color:$brandAlmostBlack;
    padding:.5em 1.5em;
    cursor:pointer;
    transform-origin:100% 100%;
    transform:rotate(-90deg) translateX(100%);
    display:none;
    @media screen and (max-width:$breakpoint-lg) {
      display:block;
    }
  }
  .tray__content {
    padding:em(21) em(29);
    height:100%;
    margin-top: 0em;
    overflow:auto;
    background-color: $brandGray;
  }
  .tray__entry {
    padding-top:1em;
    margin-top:1.2em;
    border-top:1px solid $dark;
    &:first-child {
      margin-top:0;
      border-top:none;
    }
    small {
      display:block;
      color:#777;
      font-size:.9em;
    }
  }
  .tray__entry__header {
    h3 {
      font-size:1em;
      font-weight: 700;
      width: fit-content;
      text-align: left;
      margin-bottom: 0;
      margin-top: 0;
      margin-right: 0;
      height: fit-content;
      padding: 0;
      line-height: 1.7em !important;
      
      span.highlight {
        display: inline;
        padding: .25em .5em .29em 0em;
      }
    }
  }
  .tray__entry__content {
    h4 {
      margin-top:0em;
      margin-bottom:0em;
      font-weight:600;
      font-style:italic;
      display:inline-block;
      color: $brandGray;
      font-size:em(13);
      padding-top: 0;
    }
  }
  .breakdown {
    list-style:none;
    margin:0;
    li,& {
      padding-left:0;
      margin-left:0;
    }
    li {
      display:flex;
      margin-bottom:.5em;
    }
    .value {
      width:em(70);
      flex:none;
    }
    label {
      flex:auto;
      padding-left:5%;
    }
  }
  @media only screen and (max-width:$breakpoint-sxl) {
    width:25%;
  }
  @media only screen and (max-width:$breakpoint-md) {
    left: 0;
    right: 0;
    width: 100%;
    top: auto;
    height: em(29);
    bottom: 0;
    position:absolute;
    z-index:15;
    transition:height .25s ease-in-out;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding:0;
    background:none;
    overflow:hidden;
    > * {
      width:100%;
    }
    .tray__entry__legend,.tray__trigger,.tray__content {
      position:static;
      width:100%;
    }
    .tray__trigger {
      width:auto;
      transform: none;
      display:inline-block;
    }
    .show-tray & {
      height:calc(100% - #{em(77)});
    }
    .component-sankey {
      &.mini {
        background:$light;
        width:50%;
        padding-top:33.333%;
      }
    }
  }
  @media only screen and (max-width:$breakpoint-sm) {
    .component-sankey {
      &.mini {
        width:100%;
        padding-top:66.666%;
      }
    }
  }
}