$breakpoint-xl:1400px;
$breakpoint-lg:1100px;
$breakpoint-md:840px;
$breakpoint-sm:730px;

* {
  box-sizing:border-box;
}

body, html {
  min-height:100%;
  width:100%;
  margin:0;
}

body {
  @include typeDefault;
}

#root {
  max-width:100%;
  height:auto;
  overflow-x:hidden;
  position:relative;
}

.App {
  width:100%;
  height:calc(100vh - em(8));
  overflow-x:hidden;
  position:relative;
}

.app__inner {
  width:100%;
  height:100%;
  transition:left .5s ease-in-out;
  position:absolute;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  left:0;
  right:auto;
  @media screen and (max-width:$breakpoint-lg) {
    width:133.333vw;
    .show-tray & {
      left:-33.3333%;
    }
  }
  @media screen and (max-width:$breakpoint-md) {
    .show-tray & {
      left:0;
    }
  }
}

%offsetPanelRight {
  padding-right:calc($breakpoint-xl * .25 + 30px);
  padding-left:30px;
  @media screen and (max-width:$breakpoint-xl) {
    padding-right:calc(25% + 30px);
  }
}

%container {
  @extend %offsetPanelRight;
  width:100%;
  max-width:em(1400);
  margin-left:auto;
  margin-right:auto;
  position:relative;
  @media screen and (max-width:$breakpoint-md) {
    padding-right:30px;
  }
}

.app-wrapper {
  position:relative;
  flex:auto;
  width:100%;
  display:flex;
  align-items:center;
  background:$light;
  height:calc(100vh - #{em(208)});
  @media screen and (max-width: $breakpoint-lg) {
    height:calc(100vh - #{em(256)});
  }
  @media screen and (max-width: $breakpoint-md) {
    height:calc(60vh - #{em(156)});
  }
}

.app-main {
  @extend %container;
  max-height:em(760);
  height:100%;
  padding-top:30px;
  padding-bottom:30px;
  z-index:3;
  pointer-events:none;
  .app-main-content {
    max-height:em(700);
    height:100%;
    position:relative;
    pointer-events:all;
    margin-left: .5em;
  }
  .sankey-spacer {
    height:100%;
    width:100%;
    position:absolute;
  }
  .component-sankey {
    height:100%;
  }
  @media screen and (max-width: $breakpoint-lg) {
    padding-right: calc(25% + 78px);
  }
  @media screen and (max-width: $breakpoint-md) {
    padding-right: 30px;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .app__inner {
    width:100%;
  }
  .app__top,.app__bottom {
    width:100%;
  }
  .app__top {
    display:flex;
    flex-direction:column;
  }
  // .app__bottom {

  // }
}

@media screen and (max-width: $breakpoint-sm) {
  .app-wrapper {
    width:120%;
    min-width:740px;
  }
  .app-main {
    width:100%;
    overflow:hidden;
  }
  .app__top {
    overflow-x:auto;
  }
}

@media screen and (max-width: 600px) {
  .app-wrapper {
    width:150%;
  }
}

@media screen and (max-width: 400px) {
  // .app-wrapper {
  //   width: 100%;
  //   min-width: 10em;
  // }

  .app-main {
    width: 100%;
  }

  .app-header {
    width: 100svw;
    overflow: hidden;
  }

  .app__inner {
    display: block;
  }
}