$typeBase: 14px;

@function em($px, $base: 14) {
  @return math.div($px,$base) * 1em;
}

@mixin typeDefault {
  color: $dark;
  font-family: $secondaryFont;
  font-size: $typeBase;
  font-weight: normal;
  line-height: 1.2em;
  text-transform: none;
}

@mixin typeReduced {
  @include typeDefault;
  font-size:em(13);
}

@mixin typeContrast {
  color: $light;
}

@mixin typeHeader {
  @include typeDefault;
}

@mixin typeHeaderWell {
  @include typeHeader;
  font-family:$mainFont;
  text-transform:uppercase;
  font-size: em(30);
  font-weight: 300;
  // text-transform:uppercase;
  em {
    font-family: $secondaryFont;
    display:block;
    font-size: em(16,30);
    font-style:normal;
    font-weight: 850;
    text-transform:none;
  }
}

@mixin typeHeaderWellSecondary {
  @include typeHeader;
  @include typeContrast;
  font-size: em(16);
  font-weight: 600;
  em {
    color:$dark;
    display:block;
    font-weight: 400;
    font-style:normal;
    font-size: em(12,16);
    line-height:1.2em;
  }
}

@mixin typeFilter {
  @include typeHeader;
  @include typeContrast;
  font-size: em(16);
  font-weight:600;
  @media screen and (max-width:$breakpoint-lg) {
    font-size:1em;
  }
}

@mixin typeFilterPre {
  @include typeHeader;
  @include typeContrast;
  color: $brandAlmostBlack;
  font-size: em(20);
  font-weight:400;
  @media screen and (max-width:$breakpoint-lg) {
    font-size:em(14);
  }
}