$typeBase: 16px;
$fontBase: "Basier Circle", "Arial", sans-serif;

@function em($px, $base: 16) {
  @return math.div($px,$base) * 1em;
}

@mixin typeDefault {
  color: $dark;
  font-family: $fontBase;
  font-size: $typeBase;
  font-weight: normal;
  line-height: 1.2em;
  text-transform: none;
}

@mixin typeContrast {
  color: $light;
}

@mixin typeHeader {
  @include typeDefault;
}

@mixin typeHeaderWell {
  @include typeHeader;
  @include typeContrast;
  font-size: em(20);
  font-weight: 900;
  text-transform:uppercase;
  em {
    display:block;
    font-size: em(15,20);
    font-style:normal;
  }
  @media screen and (max-width:769px) {
    font-size: em(18);
  }
}

@mixin typeHeaderWellSecondary {
  @include typeHeader;
  @include typeContrast;
  font-size: em(18);
  font-weight: 600;
  em {
    display:block;
    font-weight: 400;
    font-size: em(14,20);
    line-height:1.2em;
    margin-top:.3em;
  }
}

@mixin typeFilter {
  @include typeHeader;
  @include typeContrast;
  font-size: em(17);
  font-weight:600;
  @media screen and (max-width:$breakpoint-lg) {
    font-size:1em;
  }
}

@mixin typeFilterPre {
  @include typeHeader;
  @include typeContrast;
  font-size: em(15);
  text-transform:uppercase;
  font-weight:600;
  @media screen and (max-width:$breakpoint-lg) {
    font-size:em(14);
  }
}