$dark: #000;
$light: #fff;

$teal: #6FC7B2;
$blueLight: #029EDA;
$blueDark: #1C2D75;
$purple: #8648A8;
$purpleLight: #E1D5E8;
$yellow: #EBB700;
$greenDark: #1D5C42;
$yellowLight: #F5E7B6;

$grayLight: #CFCBC9;


