$dark: #000;
$light: #fff;

$teal: #6FC7B2;
$blueLight: #029EDA;
$blueDark: #1C2D75;
$purple: #8648A8;
$purpleLight: #E1D5E8;
$yellow: #EBB700;
$greenDark: #1D5C42;
$yellowLight: #F5E7B6;
$limeGreen: #C8DA2C;
$purpleFilter: #9C5FB5;

$font: "Basier Circle", "Arial", sans-serif;

$grayLight: #CFCBC9;

$borderRadius: 2.1764705882em;

$padding: 0.4705882353em 0.7058823529em;

// 2023 Updated EDF Brand Colors
$brandBlue: #0033CC;
$brandLavender: #B76CD9;
$brandCyan: #33CCFF;
$brandYellow: #FFD83A;
$brandYellowGreen: #A1E214;
$brandGreen: #009933;
$brandLightGray: #B6B9C3;
$brandAlmostBlack: #242424;

$mainFont: "Anton";
$secondaryFont: "franklin-gothic-urw", sans-serif;
$sankeyFont: "Inter", 'Arial', Arial, sans-serif;






